In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import requests
import re

In [2]:
zip_code = 37013
base_url = 'https://www.nashvillesmls.com/nashville-area-zip-codes/37013-real-estate.php'
#url = base_url.replace('{zip_code}', str(page_number))
response = requests.get(base_url)

In [3]:
type(response)

requests.models.Response

In [4]:
response.status_code

200

In [5]:
from bs4 import BeautifulSoup as BS

In [6]:
soup = BS(response.text)

In [7]:
blurb = soup.find('p', class_="gh-cta-stats")
blurb

<p class="gh-cta-stats"><strong>Zip Code 37013 real estate market statistics:</strong> As of <strong>December 6, 2024</strong> there are <strong>202</strong> active properties for sale in Zip Code 37013 with an average listing price of <strong>$462,703</strong>. The highest-priced property listing is <strong>$3,500,000</strong>, while the lowest priced property can be purchased for <strong>$225,000</strong>. Properties in Zip Code 37013 have an average price of <strong>$246 per square foot</strong>, based on listings with an average of <strong>3.3 bedrooms, 2.4 bathrooms</strong>, and <strong>1,930 square feet</strong> of living space.</p>

In [8]:
strong_tag = blurb.findAll('strong')
strong_tag

[<strong>Zip Code 37013 real estate market statistics:</strong>,
 <strong>December 6, 2024</strong>,
 <strong>202</strong>,
 <strong>$462,703</strong>,
 <strong>$3,500,000</strong>,
 <strong>$225,000</strong>,
 <strong>$246 per square foot</strong>,
 <strong>3.3 bedrooms, 2.4 bathrooms</strong>,
 <strong>1,930 square feet</strong>]

In [9]:
#blurb.search(\average listing price of <strong>)

In [10]:
housing = pd.read_csv('../data/davidson_zip_codes.csv')
employee = pd.read_csv('../data/govt_employee_info.csv')
survey = pd.read_csv('../data/metro_survey.csv')

In [11]:
housing

,zip_code,average_price,highest_price,lowest_price,square_footage,area
0,37013,"$463,696","$3,500,000","$224,900","2,518",Antioch / Cane Ridge
1,37072,"$880,947","$11,500,000","$179,900","2,813",Goodlettsville
2,37076,"$517,056","$1,999,999","$195,000","2,172",Hermitage
3,37115,"$453,722","$1,299,999","$129,900","1,778",Madison
4,37138,"$609,831","$3,325,000","$199,900","2,246",Old Hickory
5,37201,"$2,111,866","$9,000,000","$396,000","1,835",Downtown Nashville
6,37203,"$1,138,462","$13,000,000","$279,000","1,535",Edgehill / Music Row / The Gulch / West End Ci...
7,37204,"$1,595,475","$4,800,000","$234,900","3,307",12 South / Belmont / Lipscomb / Green Hills / ...
8,37205,"$2,186,167","$15,200,000","$249,000","3,916",Belle Meade / West End / West Meade
9,37206,"$846,331","$3,250,000","$290,000","2,166",East Nashville / Lockeland Springs
10,37207,"$662,651","$3,083,320","$250,000","1,936",North Nashville / Dickerson Pike
11,37208,"$649,050","$2,999,999","$220,000","1,781",Germantown
12,37209,"$820,028","$3,700,000","$165,000","2,179",Charlotte Park / Sylvan Heights / Sylvan Park ...
13,37210,"$646,961","$5,700,000","$265,000","1,888",Briley Parkway / South Nashville / Spence Lane...
14,37211,"$566,536","$3,500,000","$115,000","1,974",Bradford Hills / Brentioch / Cane Ridge / Crie...
15,37212,"$1,098,995","$3,495,000","$210,000","2,053",Belmont / Hillsboro Village / Music Row / Vand...
16,37214,"$463,599","$1,549,000","$225,000","1,741",Airport / Donelson
17,37215,"$2,349,717","$8,900,000","$239,500","4,504",Belle Meade / Forest Hills / Green Hills
18,37216,"$643,426","$3,699,000","$227,500","1,919",Inglewood
19,37217,"$381,670","$899,900","$150,000","1,656",Briley Parkway / Edge-o-Lake / Priest Lake
20,37218,"$790,665","$9,200,000","$309,500","2,301",Bordeaux
21,37219,"$853,802","$4,000,000","$194,500",961,Central Business District / Downtown
22,37220,"$2,893,856","$6,500,000","$729,900","5,087",Crieve Hall / North Brentwood / Oak Hill
23,37221,"$808,301","$3,399,000","$199,900","2,618",Bellevue
24,37015,"$693,032","$7,900,000","$169,000","2,230",Ashland City
25,37023,NaN,NaN,NaN,NaN,NaN
26,37027,"$2,633,912","$15,000,000","$405,900","5,267",Brentwood
27,37080,NaN,NaN,NaN,NaN,NaN
28,37116,NaN,NaN,NaN,NaN,NaN
29,37135,"$949,675","$5,000,000","$308,900","2,926",Nolensville
30,37143,NaN,NaN,NaN,NaN,NaN
31,37167,"$547,493","$1,900,000","$125,000","2,351",Smyrna
32,37189,NaN,NaN,NaN,NaN,NaN
33,37228,NaN,NaN,NaN,NaN,NaN
34,37229,NaN,NaN,NaN,NaN,NaN

In [12]:
employee = employee.drop(columns = ['OBJECTID', 'Pay Grade / Step', 'Class', 'FLSA Exempt?'])

In [13]:
employee = employee.loc[(employee.County == 'Davidson')]
employee

,Annual Salary,Title,Current Department,Employment Status,EEO Job Category Description,Gender,Ethnic Code Description,Year of Birth,Date Started,County
3,84042.78,Admin Svcs Mgr,030 Sheriff,Fulltime-Regular,Officials and administrators,M,Black or African American,1989,11/1/2010 12:00:00 AM,Davidson
4,17075.76,School Crossing Guard,031 Police,Parttime-Regular,Protective service workers,F,Black or African American,1949,10/28/2015 12:00:00 AM,Davidson
5,53209.72,Library Associate,039 Public Library,Fulltime-Regular,Paraprofessionals,F,White,1974,8/9/2021 12:00:00 AM,Davidson
7,25615.00,Council Member,002 Metropolitan Council,Elected,Officials and administrators,M,White,1985,9/28/2019 12:00:00 AM,Davidson
10,111976.89,Fire Captain,032 Fire,Fulltime-Regular,Professionals,M,White,1970,2/1/1998 12:00:00 AM,Davidson
...,...,...,...,...,...,...,...,...,...,...
10974,133710.71,Assistant Metropolitan Atty 4,002 Metropolitan Council,Fulltime-Regular,Professionals,F,White,1991,1/30/2017 12:00:00 AM,Davidson
10977,100959.67,Information Systems Advisor 1,031 Police,Fulltime-Regular,Officials and administrators,M,Asian,1957,11/1/2017 12:00:00 AM,Davidson
10980,65833.62,Family Safety Advocate Senior,051 Office of Family Safety,Fulltime-Regular,Professionals,F,White,1985,4/24/2017 12:00:00 AM,Davidson
10985,79728.19,Police Officer 2,031 Police,Fulltime-Regular,Protective service workers,F,White,1995,10/16/2017 12:00:00 AM,Davidson
10987,57096.93,Fire Recruit,032 Fire,Fulltime-Regular,Protective service workers,F,White,1997,5/16/2024 12:00:00 AM,Davidson

In [14]:
survey = survey.sort_values(['ZIP Code', 'Period'])
for index, row in survey.iterrows():
    if row['Quality of Life'] == 'Very Satisfied':
        survey.loc[index, 'quality_of_life'] = '5'
    elif row['Quality of Life'] == 'Satisfied':
        survey.loc[index, 'quality_of_life'] = '4'
    elif row['Quality of Life'] == 'Neutral':
        survey.loc[index, 'quality_of_life'] = '3'
    elif row['Quality of Life'] == 'Dissatisfied':
        survey.loc[index, 'quality_of_life'] = '2'
    elif row['Quality of Life'] == 'Very Dissatisfied':
        survey.loc[index, 'quality_of_life'] = '1'
    else:
        survey.loc[index, 'quality_of_life'] = ''

In [15]:
for index, row in survey.iterrows():
    if row['Overall Feeling of Safety'] == 'Very Satisfied':
        survey.loc[index, 'overall_feeling_of_safety'] = '5'
    elif row['Overall Feeling of Safety'] == 'Satisfied':
        survey.loc[index, 'overall_feeling_of_safety'] = '4'
    elif row['Overall Feeling of Safety'] == 'Neutral':
        survey.loc[index, 'overall_feeling_of_safety'] = '3'
    elif row['Overall Feeling of Safety'] == 'Dissatisfied':
        survey.loc[index, 'overall_feeling_of_safety'] = '2'
    elif row['Overall Feeling of Safety'] == 'Very Dissatisfied':
        survey.loc[index, 'overall_feeling_of_safety'] = '1'
    else:
        survey.loc[index, 'overall_feeling_of_safety'] = ''

In [16]:
for index, row in survey.iterrows():
    if row['Neighborhood Safety'] == 'Very Satisfied':
        survey.loc[index, 'neighborhood_safety'] = '5'
    elif row['Neighborhood Safety'] == 'Satisfied':
        survey.loc[index, 'neighborhood_safety'] = '4'
    elif row['Neighborhood Safety'] == 'Neutral':
        survey.loc[index, 'neighborhood_safety'] = '3'
    elif row['Neighborhood Safety'] == 'Dissatisfied':
        survey.loc[index, 'neighborhood_safety'] = '2'
    elif row['Neighborhood Safety'] == 'Very Dissatisfied':
        survey.loc[index, 'neighborhood_safety'] = '1'
    else:
        survey.loc[index, 'neighborhood_safety'] = ''

In [17]:
for index, row in survey.iterrows():
    if row['Crime Prevention'] == 'Very Satisfied':
        survey.loc[index, 'crime_prevention'] = '5'
    elif row['Crime Prevention'] == 'Satisfied':
        survey.loc[index, 'crime_prevention'] = '4'
    elif row['Crime Prevention'] == 'Neutral':
        survey.loc[index, 'crime_prevention'] = '3'
    elif row['Crime Prevention'] == 'Dissatisfied':
        survey.loc[index, 'crime_prevention'] = '2'
    elif row['Crime Prevention'] == 'Very Dissatisfied':
        survey.loc[index, 'crime_prevention'] = '1'
    else:
        survey.loc[index, 'crime_prevention'] = ''

In [18]:
for index, row in survey.iterrows():
    if row['Neighborhood Appearance'] == 'Very Satisfied':
        survey.loc[index, 'neighborhood_appearance'] = '5'
    elif row['Neighborhood Appearance'] == 'Satisfied':
        survey.loc[index, 'neighborhood_appearance'] = '4'
    elif row['Neighborhood Appearance'] == 'Neutral':
        survey.loc[index, 'neighborhood_appearance'] = '3'
    elif row['Neighborhood Appearance'] == 'Dissatisfied':
        survey.loc[index, 'neighborhood_appearance'] = '2'
    elif row['Neighborhood Appearance'] == 'Very Dissatisfied':
        survey.loc[index, 'neighborhood_appearance'] = '1'
    else:
        survey.loc[index, 'neighborhood_appearance'] = ''

In [19]:
for index, row in survey.iterrows():
    if row['Police - Overall'] == 'Very Satisfied':
        survey.loc[index, 'police_overall'] = '5'
    elif row['Police - Overall'] == 'Satisfied':
        survey.loc[index, 'police_overall'] = '4'
    elif row['Police - Overall'] == 'Neutral':
        survey.loc[index, 'police_overall'] = '3'
    elif row['Police - Overall'] == 'Dissatisfied':
        survey.loc[index, 'police_overall'] = '2'
    elif row['Police - Overall'] == 'Very Dissatisfied':
        survey.loc[index, 'police_overall'] = '1'
    else:
        survey.loc[index, 'police_overall'] = ''

In [20]:
for index, row in survey.iterrows():
    if row['Public Library'] == 'Very Satisfied':
        survey.loc[index, 'public_library'] = '5'
    elif row['Public Library'] == 'Satisfied':
        survey.loc[index, 'public_library'] = '4'
    elif row['Public Library'] == 'Neutral':
        survey.loc[index, 'public_library'] = '3'
    elif row['Public Library'] == 'Dissatisfied':
        survey.loc[index, 'public_library'] = '2'
    elif row['Public Library'] == 'Very Dissatisfied':
        survey.loc[index, 'public_library'] = '1'
    else:
        survey.loc[index, 'public_library'] = ''

In [21]:
for index, row in survey.iterrows():
    if row['Public Education'] == 'Very Satisfied':
        survey.loc[index, 'public_education'] = '5'
    elif row['Public Education'] == 'Satisfied':
        survey.loc[index, 'public_education'] = '4'
    elif row['Public Education'] == 'Neutral':
        survey.loc[index, 'public_education'] = '3'
    elif row['Public Education'] == 'Dissatisfied':
        survey.loc[index, 'public_education'] = '2'
    elif row['Public Education'] == 'Very Dissatisfied':
        survey.loc[index, 'public_education'] = '1'
    else:
        survey.loc[index, 'public_education'] = ''

In [22]:
for index, row in survey.iterrows():
    if row['Metro-provided Arts and Culture - Overall'] == 'Very Satisfied':
        survey.loc[index, 'arts_and_culture'] = '5'
    elif row['Metro-provided Arts and Culture - Overall'] == 'Satisfied':
        survey.loc[index, 'arts_and_culture'] = '4'
    elif row['Metro-provided Arts and Culture - Overall'] == 'Neutral':
        survey.loc[index, 'arts_and_culture'] = '3'
    elif row['Metro-provided Arts and Culture - Overall'] == 'Dissatisfied':
        survey.loc[index, 'arts_and_culture'] = '2'
    elif row['Metro-provided Arts and Culture - Overall'] == 'Very Dissatisfied':
        survey.loc[index, 'arts_and_culture'] = '1'
    else:
        survey.loc[index, 'arts_and_culture'] = ''

In [23]:
for index, row in survey.iterrows():
    if row['Affordable Housing - Overall'] == 'Very Satisfied':
        survey.loc[index, 'affordable_housing'] = '5'
    elif row['Affordable Housing - Overall'] == 'Satisfied':
        survey.loc[index, 'affordable_housing'] = '4'
    elif row['Affordable Housing - Overall'] == 'Neutral':
        survey.loc[index, 'affordable_housing'] = '3'
    elif row['Affordable Housing - Overall'] == 'Dissatisfied':
        survey.loc[index, 'affordable_housing'] = '2'
    elif row['Affordable Housing - Overall'] == 'Very Dissatisfied':
        survey.loc[index, 'affordable_housing'] = '1'
    else:
        survey.loc[index, 'affordable_housing'] = ''

In [24]:
survey[['Period', 'ZIP Code', 'Service District','Own or Rent', 'Race / Ethnicity - White', 'Race / Ethnicity - Black', 'Race / Ethnicity - Hispanic', 
        'Race / Ethnicity - Asian or Pacific Islander', 'Race / Ethnicity - Native American or Alaskan Native','Race / Ethnicity - Other', 
        'Race / Ethnicity - Other Definition', 'Total Annual Household Income','Age', 'Gender Identity', 'Education Attained','quality_of_life', 
        'neighborhood_appearance', 'neighborhood_safety', 'overall_feeling_of_safety', 'crime_prevention', 'police_overall','public_library', 
        'public_education', 'arts_and_culture', 'affordable_housing']]

,Period,ZIP Code,Service District,Own or Rent,Race / Ethnicity - White,Race / Ethnicity - Black,Race / Ethnicity - Hispanic,Race / Ethnicity - Asian or Pacific Islander,Race / Ethnicity - Native American or Alaskan Native,Race / Ethnicity - Other,...,quality_of_life,neighborhood_appearance,neighborhood_safety,overall_feeling_of_safety,crime_prevention,police_overall,public_library,public_education,arts_and_culture,affordable_housing
81,2018Q1,37013,Urban Services District,Own,Yes,NaN,NaN,NaN,NaN,NaN,...,4,4,3,1,2,2,3,3,,
130,2018Q1,37013,Urban Services District,Own,Yes,NaN,NaN,NaN,NaN,NaN,...,4,5,4,3,4,4,,,,
152,2018Q1,37013,General Services District,Own,Yes,NaN,Yes,NaN,NaN,NaN,...,4,4,4,4,2,1,4,1,4,
210,2018Q1,37013,General Services District,Rent,NaN,Yes,NaN,NaN,NaN,NaN,...,3,4,4,4,,,5,,3,
373,2018Q1,37013,General Services District,Own,NaN,NaN,Yes,NaN,NaN,NaN,...,4,5,2,3,4,4,5,2,4,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1655,2018Q4,37228,Urban Services District,Rent,NaN,Yes,NaN,NaN,NaN,NaN,...,4,5,4,3,3,3,4,3,4,2
1677,2018Q4,37228,Urban Services District,Rent,Yes,NaN,NaN,NaN,NaN,NaN,...,5,4,5,5,3,1,4,1,4,1
1828,2019Q1,37228,Urban Services District,Rent,Yes,Yes,NaN,NaN,NaN,NaN,...,4,2,2,2,2,3,5,1,5,1
1862,2019Q1,37228,Urban Services District,Own,Yes,NaN,NaN,NaN,NaN,NaN,...,4,5,4,3,4,3,5,2,2,1
902,2018Q3,37229,Urban Services District,Rent,NaN,NaN,Yes,NaN,NaN,NaN,...,3,1,1,1,2,4,5,2,4,2